# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment
.env
.env.local

# Google Play Service Account (sensitive!)
google-service-account.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
